*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* This is the start of my navigation */
nav{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}
nav ul{
    list-style-type: none;
    float: right;
}

nav ul li:hover {
    color: darkmagenta;
}

nav ul li:active {
    color: red;
}

.logo {
    float: left;
    margin: 5px;
    
}

nav ul li{
display: inline-block;
color: #000000;
text-transform: uppercase;
font-size: 20px;
margin: 20px 20px;
}

/* This is the end of my navigation */
/* This is the start of my hero section*/

main{ 
    width: 100%;
    height: 500px;
    background-color: bisque;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/Canva-Black-Tablet-Computer-Beside-Teal-Notebook.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    top:-50;

}

.hero-text {
color: rgb(255, 255, 255);
top: 25%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
text-align: center;
}

/* This is the end of my hero section*/

.column {
    float: left;
    width: 33.33%;
    height: 400px;
    padding: 10px;
    background-color: rgb(134, 134, 134);
    border: 1px solid black;
  }
  
  .columntext {
    margin-bottom: 70px;

  }
  
  /* .column p {
    margin-bottom: 70px;

  } */

  /* Clear floats after the columns */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

p { 
    font-family: 'Hind Guntur', sans-serif;
    padding-top: 100px;
}

nav {
    font-family: 'Montserrat', sans-serif;
}

.fa-linkedin {
    float: left;
    color: #0072b1;
}

.fa-twitter-square {
    float: left;
    color: #1DA1F2;
}

/* .row::after {
    content: "© Alexander Rolette 2022";
    padding-right: 20px;
    float: right;
    display: table;
    clear: both;
    
  } */

.footer {
    float: both;
}

.credits {
    float: right;
    padding-right: 7px;
    margin-top: 7px;
}

